.td_up{
    align-items: left;
    justify-content: left;
    width: 100;
}

.datos{
    color: rgb(102, 102, 170);
}

.td_down{
    align-items: center;
    justify-content: center;
    width: 150;
}

.input_text{
    size: 12;
    border-width: 2px;
    border-style: solid;
    font-size: 10;
    color: blue;
    letter-spacing: 3px;
}

*{
    background-color: rgb(192, 187, 187);
    color:rgb(49, 49, 49); 
}
body h1{
    text-align: center;
}
body hr{
    width: 90%;
}
body p{
    text-align: center;
}
.lista_p4{
    font-size: 15pxpx;
}